* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: sans-serif;
    background: rgb(68, 110, 68)
}

.pouso {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(189, 185, 185);
    padding: 15px;
    margin: 20%;
    margin-top: -10px;
    border-radius: 6px;
}

button {
    margin: auto;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
}

input {
    padding: 2px;
    max-width: 35px;
}